body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(44, 44, 44);
}

#section-one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-items: center;
  justify-content: center;
  position: relative;
  top: 5vh;
  height: 400px;
  margin-bottom: 20vh;

  text-align: center;
}

#section-one > p {
  width: 100%;
  text-align: center;
}

#section-one > h2 {
  position: relative;
  top: 50px;
  font-size: 30px;
}
